/*
* brand colors: #b608c6, #ff9900, #4f12f9 ; purple, orange, blue
 */

* {
	font-family: 'Poppins', sans-serif !important;
    /*font-family: 'Roboto', sans-serif !important;*/
}

body {
	/*color: #666;*/
}

.navbar {
	background: #b608c6 !important;
}

.navbar-brand {
	height: 70px;
}

.navbar-collapse {
	margin-left: 0%;
}

.nav-item a {
	color: #fff !important;
	font-size: 14px !important;	
	margin: 0  !important;
}

.nav-item a:hover {
	color: #F90 !important;
}

/*section slider*/
.insprd_slider {
    margin-top: 0.5px !important;
}
/*end slider*/


/*Banner text*/
#home {
    height: 185px;
    /*margin-top: 0px;*/
}

.banner { 
    background: url(../img/banner_sm.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    /*position: relative;*/
    /*height: 360px;*/
    z-index: 0;
    /*margin-top: 0px;*/
}

.banner:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    background: url(../img/banner.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

.banner-text {
    padding: 27vw 0 5vw 20vw;
}

.slider-info h1 {
    color: #fff;
    font-size: 6vw;
    font-weight: bold;
}

.slider-info p {
    font-size: 1.2em;
    margin-top: 1em;
}

.btn-agile {
    color: #fff;
    background: #f49b08;
    border: none;
    border-radius: 0;
    font-size: 1.1em;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-agile:hover {
    color: #fff;
    background: #800578;
}

.fa {
    display: inline-block !important;
    /*font: normal normal normal 14px/1 FontAwesome !important;*/
        /*font-size: 14px !important;*/
        font-family: FontAwesome !important;
}

.py-4 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

/*Main content*/
.insprd_wrapper {
    margin:  0;
    padding:  0;
}

.insprd_tech, .insprd_blog, .insprd_entrep, .insprd_inspre, .insprd_ldrshp, .insprd_moral, .insprd_quote, .insprd_religion, .insprd_society, .insprd_success, .insprd_tech {
    margin: 20px 0;
    padding: 10px;
    min-height: 530px;
}

h1,h2 {
	margin: 20px;
	padding: 20px;
}
h1, h2 {
	color: #ff9900;
}

h3 {
	color: #ff9900;
}

.btn-primary {
	background: #ff9900 !important;
}



/*footer*/
footer .insprd-ft-1 {
    padding: 10px;
    background-color: #3600cc;
    min-height: 60px; 
    margin-top: 3px;
    color: #EDBB1D;
}


footer .insprd-ft-2 {
    padding: 10px;
    background-color: #000;
    min-height: 40px; 
    color: #eb84f4;
}
        
footer h3 {
	color: #fff;
}



